
.icon-github-circled-alt:before { content: '\e800'; } /* '' */
.icon-github-circled-alt2:before { content: '\e801'; } /* '' */
.icon-github-squared:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\e803'; } /* '' */
.icon-down-circle2:before { content: '\e804'; } /* '' */