@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import 'fontello/css/fontello.css';

body {
  padding:10px 30px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color:#444;
  line-height:1.5em;
}

@media all and (min-width:600px){
  body {padding:10px 50px;}
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
  font-weight:300;
}

ul {
  margin:0;
  padding:0;
  list-style: none;
  margin-bottom:40px;
}

li {
  margin-bottom:10px;
  font-size:1em;
  margin:0 auto 10px auto;
  padding:15px 20px;
  background:rgba(0,0,0,0.03);
}

@media all and (min-width:600px){
  li { padding:15px 50px;}
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#444;
  margin-top:-0.6em;
  display:block;
}

a:hover small {
  color:#444;
}

.wrapper {
  width:100%;
  max-width:700px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  border-bottom:1px solid #eee;
  font-size:13px;
  padding-bottom:10px;
}

header p {
  color:#999;
  max-width:300px;
  margin-bottom:10px;
}

header #links {
  text-align:right;
  margin-bottom:0px;
}

header #links a {
  font-weight:300;
  font-size:13px;
  display:inline-block;
  position:relative;
}

header #links i {
  font-size:30px;
  float:right;
}

all and (min-width:600px){
  header #links i {
    font-size:40px;
  }
}

header #links label {
  position:absolute;
  top:30px;
  width:70px;
  left:50%;
  margin-left:-35px;
  line-height:1.3em;
  text-align:center;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity:0;
}

header #links a:hover label {
  display:block;
  top:35px;
  opacity:1;
}

header img {
  width:80%;
  max-width:400px;
  margin-bottom:10px;
}

section {
  margin:20px 0;
}

footer {
  font-size:13px;
  color:#999;
  border-top:1px solid #eee;
  padding:20px 0 100px 0;
}