@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);

html,body {
	font-family:'roboto','helvetica','sans';
	font-size:15px;
	line-height:1.5em;
	color:#444;
}

body {
	background:#eee;
}

#head {
	position:absolute;
	width:100%;
	padding:1em;
	display:block;
	top:5px;
	font-size:3.5em;
    line-height:1.3em;
	margin-top:0em;
}

#container {
	position:absolute;
	width:100%;
	padding:3.5em;
	max-width: 900px;
	display:block;
	top:5px;
    line-height:1.3em;
	margin-top:5em;
}

#search {
	position:relative;
	display:block;
	width:100%;
}

#search input {
	padding:0.5em 1em;
	border:1px solid #ccc;
	outline-style:none;
	width:900px;
	line-height:2em;
	font-family:Menlo, courier;
	font-size:15px;
}

#search input:focus {
	border:1px solid #999;
}

#results {
	margin:2em 0;
	min-height:50px;
}

#results.loading {
	background:#eeeeee url("images/ajax-loader.gif") no-repeat 10px 10px;
}
#results #match {
	margin:0.5em 0;
	border-bottom:1px solid #ccc;
	line-height:2em;
	padding:0.5em 1em;
}

#results #match #idee {
	font-weight:bold;
}

#results #match #text {
	margin-left:1em;
}
