<!doctype html>
<html>
	<head>

		<meta charset="utf-8">
		<title>PDF Search Engine</title>

		<!-- css rendered with less -->
		<link href="static/main.css" rel="stylesheet" type="text/css" />

		<!-- external jquery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

		<!-- js -->
		<script src="static/script.js"></script>

	</head>
	<body>
		  <div id="bar"></div>
		  <div id="head">PDF Search Engine</div>

		  <div id="container">
			<div id="search">
				<input type='text' placeholder="enter your query"/>
			</div>
 			<div id="results"></div>
	      </div>
	</body>
</html>
